<robot name="buoy_green">
  <link name="buoy_green">
    <inertial>
      <origin rpy="0 0 0" xyz="0.1 0.1 0"/>
      <mass value="10"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://varun_gazebo/models/buoy_green/meshes/buoy_green.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://varun_gazebo/models/buoy_green/meshes/buoy_green.dae"/>
      </geometry>
    </collision>
  </link>
</robot>