<launch>
  <node name="torpedo_detection" pkg="task_torpedo" type="torpedo_detection" respawn="true"  output="screen">
    <param name="t1mins" type="int" value="0" />
    <param name="t1maxs" type="int" value="130" />
    <param name="t2mins" type="int" value="0" />
    <param name="t2maxs" type="int" value="100" />
    <param name="t3mins" type="int" value="150" />
    <param name="t3maxs" type="int" value="260" />
  </node>
</launch>